<div class="card-container">
  <div class="player-photo">
    <img [src]="player.imageUrl || 'assets/placeholder.png'" alt="Player Photo">
  </div>
  <div class="player-info">
    <h3>{{ player.name }}</h3>
    <p>Role: {{ player.role }}</p>
    <div class="stats">
        <p><strong>KDA:</strong> {{ player.stats.kda }}</p>
        <p><strong>Win Rate:</strong> {{ player.stats.winRate }}%</p>
    </div>
  </div>
   <div class="card-actions">
    <button class="add-btn" (click)="onAddClick()">Add to Team</button>
  </div>
</div>